*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--base-font);
  font-size: var(--base-size);
}

.wrapper {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-link {
  font-size: 32px;
  color: #0b0e0e;
  font-weight: 250;
  margin-left: 100px;
  position: relative;
  padding-bottom: 10px;
}

.menu__list-link:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--purple-color);
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.menu__list-link:hover:after, .menu__list-link:focus:after {
  width: 100%;
}

.container {
  max-width: 1610px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background: url(../assets/background/rectangle2.svg) no-repeat 100% 61%/46%, url(../assets/background/circle3cop.svg) no-repeat 33% 0%/29%;
  padding-top: 60px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design {
  padding-top: 120px;
  padding-bottom: 84px;
}

.design__container {
  max-width: 1690px;
}

.design__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.design__title {
  font-weight: 700;
  font-size: 360px;
  text-transform: uppercase;
}

.design__circle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background: #0b0e0e;
}

.design__dot {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--purple-color);
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design .design__circle {
  width: 70px;
  height: 70px;
}

.design__bottom-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 36px;
}

.design__bottom-text {
  max-width: 620px;
  font-size: 28px;
  color: #000000;
  font-weight: 300;
  font-family: "Idealist Sans Light SC";
}

.category {
  padding-bottom: 150px;
  background: url(../assets/background/circle4.png) no-repeat 96% 98%/9%, url(../assets/background/circle2cop.png) no-repeat -2% 146%/28%;
}

.category__container {
  position: relative;
}

.category__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .5s;
  transition: .5s;
}

.category__inner.hide {
  opacity: 0;
}

.category__service {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
  position: absolute;
  -webkit-transition: .8s;
  transition: .8s;
  opacity: 0;
}

.category__service.active {
  opacity: 1;
  top: 0;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.category__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.category__title {
  font-size: 100px;
  font-weight: 600;
  font-family: "Montserrat";
  margin-bottom: 60px;
}

.category__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.category__text {
  font-size: 32px;
  color: #000000;
  font-weight: 300;
  font-family: "Idealist Sans Light SC";
  max-width: 575px;
}

.advertisement {
  padding: 22px 20px 20px 42px;
  background: #000000;
}

.advertisement__text {
  font-size: 36px;
  color: #cbff00;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}

.advertisement__word {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.advertisement__word.active {
  color: #ffffff;
}

.advertisement__word:hover {
  color: #ffffff;
}

.flasks {
  padding-top: 168px;
  padding-bottom: 230px;
}

.flasks__box {
  max-width: 1300px;
  margin: 0 auto;
}

.flasks__title {
  font-size: 120px;
  color: #000000;
  font-weight: 275;
  text-align: center;
  margin-bottom: 116px;
}

.flasks__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.flasks__flask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.flasks__flask-content--business {
  overflow-x: hidden;
  -webkit-transform: translatex(-200%);
          transform: translatex(-200%);
  position: absolute;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.flasks__flask-content--business.active {
  opacity: 1;
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.flasks__flask-content--light {
  overflow-x: hidden;
  -webkit-transform: translatex(200%);
          transform: translatex(200%);
  position: absolute;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.flasks__flask-content--light.active {
  opacity: 1;
  -webkit-transform: translatex(30%);
          transform: translatex(30%);
}

.flasks__flask-content--creative-first {
  overflow-x: hidden;
  -webkit-transform: translatex(-200%);
          transform: translatex(-200%);
  position: absolute;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.flasks__flask-content--creative-first.active {
  opacity: 1;
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.flasks__flask-content--creative-second {
  padding-top: 60px;
  overflow-x: hidden;
  -webkit-transform: translatex(300%);
          transform: translatex(300%);
  position: absolute;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.flasks__flask-content--creative-second.active {
  opacity: 1;
  -webkit-transform: translatex(190%);
          transform: translatex(190%);
}

.flasks__flask--light {
  margin-right: 154px;
}

.flasks__flask.hide {
  opacity: 0;
  pointer-events: none;
}

.flasks__flask img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.flasks__flask img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.flasks__flask-price {
  font-size: 60px;
  color: #000000;
  font-weight: 275;
  font-family: "Montserrat";
}

.flasks__flask-container {
  -webkit-column-gap: 56px;
          column-gap: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 40px;
  color: #000000;
  font-weight: 600;
  font-family: "Montserrat";
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.flasks__flask-name {
  font-size: 100px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 60px;
}

.flasks__flask-name--purple {
  color: var(--purple-color);
}

.flasks__flask-name--green {
  color: var(--light-green-color);
}

.flasks__flask-name--light-purple {
  display: block;
  font-size: 100px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 60px;
  color: var(--light-purple-color);
}

.flasks__flask-title {
  font-size: 40px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
}

.flasks__item {
  font-size: 40px;
  color: #000000;
  font-weight: 600;
  font-family: "Montserrat";
}

.contacts {
  padding-top: 150px;
  padding-bottom: 200px;
  background: #000000;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  width: 50%;
}

.contacts-form__button {
  max-width: 430px;
  margin: 0 auto;
  font-size: 50px;
  color: #ffffff;
  font-weight: 300;
  padding: 20px 40px;
  font-family: "Montserrat";
  background-color: var(--light-green-color);
  color: #000000;
}

.contacts-form__name, .contacts-form__phone, .contacts-form__message {
  font-size: 50px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 275;
  background-color: #000000;
  border: 4px solid var(--light-green-color);
  padding-left: 30px;
}

.contacts-form__name::-webkit-input-placeholder, .contacts-form__phone::-webkit-input-placeholder, .contacts-form__message::-webkit-input-placeholder {
  font-size: 50px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 275;
  font-family: "Montserrat";
}

.contacts-form__name:-ms-input-placeholder, .contacts-form__phone:-ms-input-placeholder, .contacts-form__message:-ms-input-placeholder {
  font-size: 50px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 275;
  font-family: "Montserrat";
}

.contacts-form__name::-ms-input-placeholder, .contacts-form__phone::-ms-input-placeholder, .contacts-form__message::-ms-input-placeholder {
  font-size: 50px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 275;
  font-family: "Montserrat";
}

.contacts-form__name::placeholder, .contacts-form__phone::placeholder, .contacts-form__message::placeholder {
  font-size: 50px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 275;
  font-family: "Montserrat";
}

.contacts-form__message {
  resize: none;
}

.contacts__text {
  width: 50%;
  text-align: left;
  padding-left: 52px;
  font-size: 100px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 400;
}

.contacts__text--light {
  font-weight: 300;
}

.contacts__text--extralight {
  font-weight: 200;
}

.contacts__text--bold {
  font-weight: 700;
}

.contacts__text--purple {
  color: var(--purple-color);
}

.contacts__text--green {
  color: var(--light-green-color);
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background: #000000;
  padding-bottom: 100px;
  padding-top: 88px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts-title {
  font-size: 36px;
  color: #beff00;
  font-weight: 600;
  margin-bottom: 36px;
}

.footer__contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts-box a {
  color: var(--light-green-color);
  font-size: 28px;
  font-weight: 275;
}

.footer__organization {
  max-width: 530px;
  font-size: 28px;
  color: #beff00;
  font-weight: 275;
}
/*# sourceMappingURL=style.css.map */