*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: var(--base-font);
    font-size: var(--base-size);
}

.wrapper {
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;


}

.menu {
    &__list {
        display: flex;

        &-link {
            font-size: 32px;
            color: #0b0e0e;
            font-weight: 250;
            margin-left: 100px;
            position: relative;
            padding-bottom: 10px;

            &:after {
                display: block;
                position: absolute;
                left: 0;
                width: 0;
                height: 3px;
                background-color: var(--purple-color);
                content: "";
                transition: width 0.3s ease-out;
            }

            &:hover:after,
            &:focus:after {
                width: 100%;
            }
        }

    }

}

.container {
    max-width: 1610px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background: url(../assets/background/rectangle2.svg) no-repeat 100% 61%/46%, url(../assets/background/circle3cop.svg) no-repeat 33% 0%/29%;
    padding-top: 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.design {
    padding-top: 120px;
    padding-bottom: 84px;

    &__container {
        max-width: 1690px;
    }

    &__top {
        display: flex;
        margin-bottom: 100px;
    }

    &__title {
        font-weight: 700;
        font-size: 360px;
        text-transform: uppercase;
    }

    &__circle {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        background: #0b0e0e;
    }

    &__dot {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: var(--purple-color);
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .design__circle {
        width: 70px;
        height: 70px;
    }

    &__bottom {
        &-title {
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 36px;
        }

        &-text {
            max-width: 620px;
            font-size: 28px;
            color: #000000;
            font-weight: 300;
            font-family: "Idealist Sans Light SC";
        }

    }
}

.category {
    padding-bottom: 150px;
    background: url(../assets/background/circle4.png) no-repeat 96% 98%/9%, url(../assets/background/circle2cop.png) no-repeat -2% 146%/28%;

    &__container {
        position: relative;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        transition: .5s;

        &.hide {
            opacity: 0;
        }
    }

    &__service {
        overflow-y: auto;
        overflow-x: hidden;
        transform: translatey(-100%);
        position: absolute;
        transition: .8s;
        opacity: 0;

        &.active {
            opacity: 1;
            top: 0;
            transform: translatey(0);
        }

    }

    &__content {
        align-self: center;
    }

    &__title {
        font-size: 100px;
        font-weight: 600;
        font-family: "Montserrat";
        margin-bottom: 60px;
    }

    &__image {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__text {
        font-size: 32px;
        color: #000000;
        font-weight: 300;
        font-family: "Idealist Sans Light SC";
        max-width: 575px;
    }
}


.advertisement {
    padding: 22px 20px 20px 42px;
    background: #000000;

    &__text {
        font-size: 36px;
        color: #cbff00;
        font-weight: 600;
        font-family: "Montserrat";
        text-align: center;
    }

    &__word {
        cursor: pointer;
        transition: 0.3s;

        &.active {
            color: #ffffff;
        }

        &:hover {
            color: #ffffff;
        }
    }
}

.flasks {
    padding-top: 168px;
    padding-bottom: 230px;

    &__box {
        max-width: 1300px;
        margin: 0 auto;
    }

    &__title {
        font-size: 120px;
        color: #000000;
        font-weight: 275;
        text-align: center;
        margin-bottom: 116px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        position: relative;

    }

    &__flask {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 1;
        transition: .5s;



        &-content--business {
            overflow-x: hidden;
            transform: translatex(-200%);
            position: absolute;
            opacity: 0;
            transition: .8s;

            &.active {
                opacity: 1;
                transform: translatex(0);
            }
        }

        &-content--light {
            overflow-x: hidden;
            transform: translatex(200%);
            position: absolute;
            opacity: 0;
            transition: .8s;

            &.active {
                opacity: 1;
                transform: translatex(30%);
            }
        }

        &-content--creative-first {
            overflow-x: hidden;
            transform: translatex(-200%);
            position: absolute;
            opacity: 0;
            transition: .8s;

            &.active {
                opacity: 1;
                transform: translatex(0);
            }
        }

        &-content--creative-second {
            padding-top: 60px;
            overflow-x: hidden;
            transform: translatex(300%);
            position: absolute;
            opacity: 0;
            transition: .8s;

            &.active {
                opacity: 1;
                transform: translatex(190%);
            }
        }

        &--light {
            margin-right: 154px;
            ;
        }

        &.hide {
            opacity: 0;
            pointer-events: none;
        }

        cursor:pointer;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: grayscale(100%);
            transition: .5s;

            &:hover {
                filter: grayscale(0);
            }
        }



        &-price {
            font-size: 60px;
            color: #000000;
            font-weight: 275;
            font-family: "Montserrat";
        }

        &-container {
            column-gap: 56px;
            display: flex;
            justify-content: space-between;
            font-size: 40px;
            color: #000000;
            font-weight: 600;
            font-family: "Montserrat";
            order: 2;
        }

        &-name {
            font-size: 100px;
            color: #000000;
            font-weight: 700;
            font-family: "Montserrat";
            margin-bottom: 60px;

            &--purple {
                color: var(--purple-color);
            }

            &--green {
                color: var(--light-green-color)
            }

            &--light-purple {
                display: block;
                font-size: 100px;
                color: #000000;
                font-weight: 700;
                font-family: "Montserrat";
                margin-bottom: 60px;
                color: var(--light-purple-color);
            }
        }

        &-title {
            font-size: 40px;
            color: #000000;
            font-weight: 700;
            font-family: "Montserrat";
        }
    }
}

.flasks__item {
    font-size: 40px;
    color: #000000;
    font-weight: 600;
    font-family: "Montserrat";
}

.contacts {
    padding-top: 150px;
    padding-bottom: 200px;
    background: #000000;

    &-form {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        width: 50%;

        &__button {
            max-width: 430px;
            margin: 0 auto;
            font-size: 50px;
            color: #ffffff;
            font-weight: 300;
            padding: 20px 40px;
            font-family: "Montserrat";
            background-color: var(--light-green-color);
            color: #000000;
        }

        &__name,
        &__phone,
        &__message {
            font-size: 50px;
            line-height: 114px;
            color: #ffffff;
            font-weight: 275;
            background-color: #000000;
            border: 4px solid var(--light-green-color);
            padding-left: 30px;

            &::placeholder {
                font-size: 50px;
                line-height: 114px;
                color: #ffffff;
                font-weight: 275;
                font-family: "Montserrat";
            }
        }

        &__message {
            resize: none;
        }
    }

    &__text {
        width: 50%;

        &--light {
            font-weight: 300;
        }

        &--extralight {
            font-weight: 200;
        }

        &--bold {
            font-weight: 700;
        }

        &--purple {
            color: var(--purple-color)
        }

        &--green {
            color: var(--light-green-color)
        }

        text-align: left;
        padding-left:52px;
        font-size: 100px;
        line-height: 114px;
        color: #ffffff;
        font-weight: 400;
    }

    &__inner {
        display: flex;
    }

}

.footer {
    background: #000000;
    padding-bottom: 100px;
    padding-top: 88px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__contacts {
        &-title {
            font-size: 36px;
            color: #beff00;
            font-weight: 600;
            margin-bottom: 36px;
        }

        &-box {
            display: flex;
            flex-direction: column;

            a {
                color: var(--light-green-color);
                font-size: 28px;
                font-weight: 275;
            }
        }
    }

    &__organization {
        max-width: 530px;
        font-size: 28px;
        color: #beff00;
        font-weight: 275;
    }
}