

:root{
    --base-font: 'Montserrat', sans-serif;
    --base-text-color:#000000;
    --base-background-color:#ffffff;
    --light-green-color:#cbff00;
    --purple-color:#a50eff;
    --light-purple-color:#b974ff;
    --base-text-size:28px;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  a{
      text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  a:hover,
  a:active,
  a:focus {
    outline: none;
  }
  
  /* make sure to set some focus styles for accessibility */
  :focus {
    outline: 0;
  }
  
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
  }
  :focus {outline: none !important;}
  ::-moz-focus-outer, ::-moz-focus-inner {
      border: 0px !important;
      padding: 0;
  }
  a:focus,
  a:active,
  button:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
  }
  input, textarea,input:active, textarea:active {outline:none;}
  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
  visibility: hidden;
  }
  ::selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
}  







body {
    font-family: var(--base-font);
    font-size: var(--base-size);
}

.wrapper {
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;


}

// ----------------------burger menu--------------------------------//
.burger {
    width: 30px;
    height: 20px;
    position: relative;
    margin-right: 30px;
    margin-top: 30px;
    display: none;

    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #000;
        top: 0;
    }

    &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #000;
        bottom: 0;
    }

    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        width: 100%;
        background: #000;
    }
}



//------------------------------------------pulse button ----------------------------------------------//
.pulse-btn {
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    left: 3%;
    position: fixed;
    z-index: 20;
    width: 100px;
    height: 100px;
    padding: 20px;
    background: rgba(185, 116, 255, 1);
    cursor: pointer;
    outline: 0;
    border: none;

    -webkit-border-radius: 100%;
    border-radius: 100%;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    -webkit-animation: pulse 1.6s infinite;
    animation: pulse 1.6s infinite;
}

.pulse-btn:hover,
.pulse-btn:active {
    background: rgba(185, 116, 255, 1);

    -webkit-animation: none;
    animation: none;
}

/* Animations */

@-webkit-keyframes pulse {

    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(185, 116, 255, .85);
        box-shadow: 0 0 0 0 rgba(185, 116, 255, .85);
    }

    70% {
        -webkit-box-shadow: 0 0 0 2em rgba(215, 17, 73, 0);
        box-shadow: 0 0 0 2em rgba(215, 17, 73, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(215, 17, 73, 0);
        box-shadow: 0 0 0 0 rgba(215, 17, 73, 0);
    }

}

@keyframes pulse {

    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(185, 116, 255, .85);
        box-shadow: 0 0 0 0 rgba(185, 116, 255, .85);
    }

    70% {
        -webkit-box-shadow: 0 0 0 2em rgba(215, 17, 73, 0);
        box-shadow: 0 0 0 2em rgba(215, 17, 73, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(215, 17, 73, 0);
        box-shadow: 0 0 0 0 rgba(215, 17, 73, 0);
    }

}

@media screen and (max-width:1540px) {
    .pulse-btn {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:770px) {
    .pulse-btn {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width:560px) {
    .pulse-btn {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}

@media screen and (max-width:440px) {
    .pulse-btn {
        width: 30px;
        height: 30px;
    }
}

.header__logo {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}


// -------------------------------------------------------------menu--------------------------------------------//
.menu {
    &__list {
        display: flex;

        &-link {
            font-size: 32px;
            color: #0b0e0e;
            font-weight: 250;
            margin-left: 100px;
            position: relative;
            padding-bottom: 10px;

            &:after {
                display: block;
                position: absolute;
                left: 0;
                width: 0;
                height: 3px;
                background-color: var(--purple-color);
                content: "";
                transition: width 0.3s ease-out;
            }

            &:hover:after,
            &:focus:after {
                width: 100%;
            }
        }

    }

}

@media screen and (max-width:1620px) {
    .menu {
        &__list-link {
            font-size: 28px;
        }
    }

}

@media screen and (max-width:1560px) {
    .menu {
        margin-right: 40px;
    }

    .menu__list-link {
        font-size: 24px;
        font-weight: 400;
        margin-left: 40px;
    }
}

@media screen and (max-width:970px) {
    .burger {
        display: block;
        transition: .5s;

        &.active {
            position: fixed;
            transform: rotate(90deg);
            z-index: 300;
            top: 30px;
            right: 30px;
            display: block;

            &::after {
                background: #fff;
            }

            &::before {
                background: #fff;
            }

            span {
                background: #fff;
            }

        }
    }

    .menu {
        z-index: 200;
        position: absolute;
        background: #000;
        top: 0;
        right: -400px;
        width: 280px;
        height: 100%;
        transition: .5s;

        &.active {
            position: fixed;
            right: -40px;
        }

    }

    .menu__list {
        padding-top: 160px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;


    }

    .menu__list-link {
        color: #fff;
        margin: 0;
        text-align: left;
    }
}



// -----------------------------------------------------container---------------------------------------------------------//
.container {
    max-width: 1610px;
    padding: 0 15px;
    margin: 0 auto;
}


// --------------------------------------------------------header----------------------------------------------------------//
.header {
    background: url(../assets/background/rectangle2.svg) no-repeat 100% 61%/46%, url(../assets/background/circle3cop.svg) no-repeat 33% 0%/29%;
    padding-top: 60px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }
}


// ------------------------------------------------------design section---------------------------------------------------//
.design {
    padding-top: 120px;
    padding-bottom: 84px;

    &__container {
        max-width: 1690px;
    }

    &__top {
        display: flex;
        margin-bottom: 100px;
    }

    &__title {
        font-weight: 700;
        font-size: 360px;
        text-transform: uppercase;
    }

    &__circle {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        background: #0b0e0e;
    }

    &__dot {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: var(--purple-color);
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .design__circle {
        width: 70px;
        height: 70px;
    }

    &__bottom {
        &-title {
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 36px;
        }

        &-text {
            max-width: 620px;
            font-size: 28px;
            color: #000000;
            font-weight: 300;
            font-family: "Idealist Sans Light SC";
        }

    }
}

@media screen and (max-width:1620px) {
    .design__title {
        font-size: 320px;
    }

    .design__dot {
        width: 100px;
        height: 100px;
    }

    .design .design__circle {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width:1560px) {
    .header {
        padding-top: 10px;
    }

    .design__top {
        justify-content: center;
        margin-bottom: 80px;
    }

    .design__title {
        font-size: 196px;
    }

    .design__dot {
        width: 90px;
        height: 90px;
    }

    .design__bottom {
        padding-left: 120px;
    }

    .design__bottom-title {
        font-size: 32px;
    }

    .design__bottom-text {

        font-size: 22px;
    }
}

@media screen and (max-width:1200px) {
    .header {
        background: url(../assets/background/rectangle2.svg) no-repeat 100% 43%/46%, url(../assets/background/circle3cop.svg) no-repeat 33% 0%/29%;
        padding-top: 60px;

        &__logo {
            img {
                width: 80%;
            }
        }
    }

    .design {
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .design__title {
        font-size: 160px;
    }

    .design__dot {
        width: 60px;
        height: 60px;
    }

    .design .design__circle {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width:970px) {
    .header {
        padding-top: 20px;
    }

    .design__title {
        font-size: 120px;
    }

    .design__dot {
        width: 45px;
        height: 45px;
    }

    .design .design__circle {
        width: 20px;
        height: 20px;
    }

    .design__bottom-title {
        font-size: 28px;
        margin-bottom: 16px;
    }

    .design__bottom-text {
        font-size: 18px;
    }

    .design__bottom {
        padding-left: 100px;
    }
}

@media screen and (max-width:770px) {
    .design__title {
        font-size: 100px;
    }

    .design__bottom-title {
        font-size: 24px;
    }

    .design__bottom-text {
        font-size: 18px;
    }
}

@media screen and (max-width:680px) {
    .design__bottom {
        padding-left: 40px;
    }
}

@media screen and (max-width:560px) {
    .header__logo img {
        width: 60%;
    }

    .design__title {
        font-size: 82px;
    }

    .design__dot {
        width: 30px;
        height: 30px;
    }

    .design .design__circle {
        width: 14px;
        height: 14px;
    }

    .design__bottom-text {
        font-size: 16px;
    }

    .design__bottom-title {
        font-size: 22px;
    }
}

@media screen and (max-width:460px) {
    .design__title {
        font-size: 70px;
    }

    .design__bottom-title {
        font-size: 20px;
    }

    .design__bottom-text {
        font-size: 12px;
    }
}
    @media screen and (max-width:400px) {
        .design__bottom-title {
            font-size: 18px;
        }

        .design__bottom-text {
            font-size: 12px;
        }
    }
    @media screen and (max-width:360px){
        .design__title {
            font-size: 60px;
        }
    }


// -------------------------------------------------------------------category section-----------------------------------------------------//
    .category {
        padding-bottom: 150px;
        background: url(../assets/background/circle4.png) no-repeat 96% 98%/9%, url(../assets/background/circle2cop.png) no-repeat -2% 146%/28%;

        &__container {
            position: relative;
        }

        &__inner {
            display: flex;
            column-gap: 100px;
            transition: .5s;

            &.hide {
                opacity: 0;
            }
        }

        &__service {
            display: flex;
            justify-content: space-betweens;
            transform: translatey(-100%);
            position: absolute;
            transition: .8s;
            opacity: 0;

            &.active {
                opacity: 1;
                top: 200px;
                transform: translatey(0);
            }

        }

        &__content {
            flex: 0 0 50%;
            align-self: center;
        }

        &__title {
            font-size: 100px;
            font-weight: 600;
            font-family: "Montserrat";
            margin-bottom: 60px;
        }

        &__image {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        &__text {
            font-size: 32px;
            color: #000000;
            font-weight: 300;
            font-family: "Idealist Sans Light SC";
            max-width: 575px;
        }
    }

    @media screen and (max-width:1560px) {
        .category {
            padding-bottom: 80px;
            background: url(../assets/background/circle4.png) no-repeat 96% 98%/6%, url(../assets/background/circle2cop.png) no-repeat -2% 146%/18%;
        }

        .category__inner {
            column-gap: 60px;
            max-width: 1070px;
            margin: 0 auto;
        }

        .category__container {
            position: relative;
            display: flex;
            justify-content: center;
        }

        .category__title {
            font-size: 36px;
            font-weight: 600;
            font-family: "Montserrat";
            margin-bottom: 30px;
        }

        .category__text {
            font-size: 22px;
            color: #000000;
            font-weight: 300;
            font-family: "Idealist Sans Light SC";
            max-width: 575px;
        }

        .category__content {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 68%;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        }

        .category__service.active {
            top: 26px;
        }
    }

    @media screen and (max-width:970px) {
        .category__title {
            font-size: 32px;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width:770px) {
        .category {
            padding-bottom: 77px;
            background: url(../assets/background/circle4.png) no-repeat 96% 98%/6%, url(../assets/background/circle2cop.png) no-repeat -2% 146%/28%;
        }

        .category__title {
            font-size: 28px;
            font-weight: 600;
            font-family: "Montserrat";
            margin-bottom: 12px;
        }

        .category__text {
            font-size: 18px;
        }

        .category__inner {
            flex-direction: column;
            align-items: center;
        }

        .category__image img {
            width: 32%;
        }

        .category__image {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }

        .category__title {
            text-align: center;
        }

        .category__content {
            text-align: center;
            max-width: 300px;
        }

        .category__text {
            font-size: 16px;
        }
    }

    @media screen and (max-width:460px) {
        .category__text {
            font-size: 12px;
        }

        .category__title {
            font-size: 22px;
        }
    }

    @media screen and (max-width:400px) {
        .category{
            padding-bottom: 40px;
        }
        .category__title {
            font-size: 18px;
        }

        .category__text {
            font-size: 12px;
        }
    }


// --------------------------------------------------------------------advertisement--------------------------------------------------------//
    .advertisement {
        position: relative;
        z-index: 99;
        padding: 22px 20px 20px 42px;
        background: #000000;

        &__text {
            font-size: 41px;
            color: #cbff00;
            font-weight: 600;
            font-family: "Montserrat";
            text-align: center;
        }

        &__word {
            cursor: pointer;
            transition: 0.3s;

            &.active {
                color: #ffffff;
            }

            &:hover {
                color: #ffffff;
            }
        }
    }

    @media screen and (max-width:1560px) {
        .advertisement__text {
            font-size: 30px;
        }
    }

    @media screen and (max-width:770px) {
        .advertisement__text {
            font-size: 24px;
        }
    }

    @media screen and (max-width:560px) {
        .advertisement__text {
            font-size: 20px;
        }
    }
    @media screen and (max-width:400){
        .advertisement__text {
            font-size: 16px;
        }
    }

// ---------------------------------------------------------------------flasks--------------------------------------//
    .flasks {
        padding-top: 168px;
        padding-bottom: 230px;

        &__box {
            max-width: 1300px;
            margin: 0 auto;
        }

        &__title {
            font-size: 120px;
            color: #000000;
            font-weight: 275;
            text-align: center;
            margin-bottom: 116px;
        }

        &__box {
            display: flex;
            justify-content: space-between;
            position: relative;

        }

        &__flask {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            order: 1;
            transition: .5s;



            &-content--business {
                left:-200%;
                padding-top: 20px;
                top:0;
                position: absolute;
                opacity: 0;
                transition: .8s;

                &.active {
                    top:0;
                    left:5%;
                    opacity: 1;
                    transform: translatex(0);
                }
            }

            &-content--light {
                right:-200%;
                padding-top: 40px;
                top:0;
                position: absolute;
                opacity: 0;
                transition: .8s;

                &.active {
                    opacity: 1;
                    top:0;
                    right:25%;
                }
            }

            &-content--creative-first {
                left:-200%;
                top:0;
                position: absolute;
                opacity: 0;
                transition: .8s;

                &.active {
                    opacity: 1;
                    left:5%
                }
            }

            &-content--creative-second {
                padding-top: 60px;
                right:-200%;
                position: absolute;
                opacity: 0;
                top:0;
                transition: .8s;

                &.active {
                    top:0;
                    right:5%;
                    opacity: 1;
                }
            }

            &--light {
                margin-right: 154px;
            }

            &.hide {
                opacity: 0;
                pointer-events: none;
            }

            cursor:pointer;

            img {
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                object-fit: cover;
                filter: grayscale(100%);
                transition: .5s;

                &:hover {
                    filter: grayscale(0);
                }
            }



            &-price {
                font-size: 60px;
                color: #000000;
                font-weight: 275;
                font-family: "Montserrat";
            }

            &-container {
                column-gap: 56px;
                display: flex;
                justify-content: space-between;
                font-size: 40px;
                color: #000000;
                font-weight: 600;
                font-family: "Montserrat";
                order: 2;
            }

            &-name {
                font-size: 100px;
                color: #000000;
                font-weight: 700;
                font-family: "Montserrat";
                margin-bottom: 60px;

                &--purple {
                    color: var(--purple-color);
                }

                &--green {
                    color: var(--light-green-color)
                }

                &--light-purple {
                    display: block;
                    font-size: 100px;
                    color: #000000;
                    font-weight: 700;
                    font-family: "Montserrat";
                    margin-bottom: 60px;
                    color: var(--light-purple-color);
                }
            }

            &-title {
                font-size: 40px;
                color: #000000;
                font-weight: 700;
                font-family: "Montserrat";
            }
        }
    }

    .flasks__item {
        font-size: 40px;
        color: #000000;
        font-weight: 600;
        font-family: "Montserrat";
    }
    .flasks__flask-name--light-purple{
        display: block;
    }
    @media screen and (max-width:1560px) {
        .flasks__flask-content--business {
            padding-top: 10px;
        }

        .flasks {
            padding-top: 56px;
            padding-bottom: 120px;
        }

        .flasks__title {
            font-size: 64px;
        }

        .flasks__flask img {
            width: 70%;
        }

        .flasks__flask-name {
            font-size: 76px;
            margin-bottom: 30px;
        }

        .flasks__item {
            font-size: 32px;
        }

        .flasks__flask-price {
            font-size: 40px;
        }

        .flasks__flask-name--light-purple {
            font-size: 69px;
            margin-bottom: 20px;
        }

    }

    @media screen and (max-width:1200px) {
        .flasks__title {
            font-size: 56px;
            margin-bottom: 90px;
        }

        .flasks__flask-name--light-purple {
            font-size: 60px;
        }

    }
    @media screen and (max-width:1126px){
        .flasks__flask-content{
            padding-top: 50px;
        }
        .flasks__flask-price {
            font-size: 36px;
        }
        .flasks__flask-name {
            font-size: 66px;
        }
        .flasks__item {
            font-size: 28px;
        }
        .flasks__flask-name--light-purple{
            padding-top: 50px;
        }
    }

    @media screen and (max-width:1040px) {

        .flasks__flask-price {
            font-size: 36px;
        }
        .flasks__flask-name--light-purple{
            padding-top:0px;
        }
        .flasks__flask-content {
            padding-top: 30px;
        }

        .flasks__flask-name {
            font-size: 66px;
            margin-bottom: 20px;
        }

        .flasks__item {
            font-size: 24px;
        }

        .flasks__flask-content--creative-second {
            padding-top: 76px;
        }


        .flasks__flask img {
            width: 60%;
        }

        .flasks__title {
            font-size: 48px;
            margin-bottom: 60px;
        }

        .flasks__flask-name--light-purple {
            font-size: 53px;
        }
    }

    @media screen and (max-width:970px) {
        .flasks__flask img {
            width: 50%;
        }

        .flasks {
            padding-top: 56px;
            padding-bottom: 80px;
        }

        .flasks__flask-price {
            font-size: 28px;
        }
        .flasks__flask-name {
            font-size: 54px;
            margin-bottom: 20px;
        }
        .flasks__item {
            font-size: 22px;
        }
        .flasks__flask-content {
            padding-top: 30px;
        }
        .flasks__flask-content--light{
            padding-top: 40px;
        }
        .flasks__flask-content--creative-second {
            padding-top: 60px;
        }
        }

        @media screen and (max-width:864px){
            .flasks__flask-price {
                font-size: 24px;
            }
            .flasks__flask-name {
                font-size: 48px;
                margin-bottom: 20px;
            }
            .flasks__item {
                font-size: 20px;
            }
            .flasks__flask-content {
                padding-top: 50px;
            }
            .flasks__flask-content--creative-second {
                padding-top: 70px;
            }
        }

    @media screen and (max-width:770px) {
        .flasks__flask-price {
            font-size: 24px;
        }

        .flasks__flask-name {
            font-size: 46px;
            margin-bottom: 20px;
        }

        .flasks__item {
            font-size: 18px;
        }
    }

    @media screen and (max-width:740px) {
        .flasks__box {
            justify-content: center;
            flex-direction: column;
        }

        .flasks__flask--light {
            margin-right: 0;
        }

        .flasks__flask {
            pointer-events: none;
            margin-bottom: 280px;
        }

        .flasks__flask img {
            filter: grayscale(0);
            width: 20%;
        }

        .flasks__flask--light img {
            width: 12%;
        }
        .flasks__flask-content--light{
            top:20%;
            left:10%;
            opacity: 1;
        }
        .flasks__flask-content--business{
           top:85%;
            left:10%;
            opacity: 1;
        }
        .flasks__flask-content--creative-first{
            top:55%;
            left:10%;
            opacity: 1;
        }
        .flasks__flask-content--creative-second{
            top:55%;
            left:40%;
            opacity: 1;
        }
       
    }
    @media screen and (max-width:670px){
        .flasks__flask-price {
            font-size: 18px;
        }
        .flasks__flask-name {
            font-size: 36px;
            margin-bottom: 10px;
        }
        .flasks__flask-name--light-purple {
            font-size: 36px;
            margin-bottom: 10px;
        }
    }
    @media screen and (max-width:560px) {
        .flasks__title{
            font-size: 36px;
        }
        .flasks__flask-price {
            font-size: 18px;
        }

        .flasks__flask-name {
            font-size: 32px;
            margin-bottom: 10px;
        }

        .flasks__item {
            font-size: 16px;
        }

        .flasks__flask-name--light-purple {
            font-size: 32px;
            margin-bottom: 10px;
        }
        .flasks__flask-content--creative-first{
            top:50%;
            left:10%;
            opacity: 1;
        }
        .flasks__flask-content--creative-second{
            top:50%;
            left:40%;
            opacity: 1;
        }
        .flasks__flask-content--business{
            top:82%;
         }
         .flasks__flask-content--light{
            top:18%;

        }
    }

   
    @media screen and (max-width:490px) {
        .flasks__flask {
            margin-bottom: 200px;
        }


        .flasks__flask-title {
            font-size: 32px;
        }

        .flasks__flask-price {
            font-size: 12px;
        }

        .flasks__flask-name {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .flasks__flask-name--light-purple {
            font-size: 24px;
        }

        .flasks__item {
            font-size: 12px;
        }
        .flasks__flask-content--creative-second{
            top:49.5%;
            left:40%;
            opacity: 1;
        }

    }
    @media screen and (max-width:360px){
        .flasks__flask-content--creative-second{
            left:44%;
        }
    }
// ------------------------------------------------------------------contacts section-----------------------------------------------------------------//
    .contacts {
        padding-top: 150px;
        padding-bottom: 200px;
        background: #000000;

        &-form {
            display: flex;
            flex-direction: column;
            row-gap: 60px;
            width: 50%;

            &__button {
                max-width: 430px;
                margin: 0 auto;
                font-size: 50px;
                color: #ffffff;
                font-weight: 300;
                padding: 20px 40px;
                font-family: "Montserrat";
                background-color: var(--light-green-color);
                color: #000000;
            }

            &__name,
            &__phone,
            &__message {
                font-size: 50px;
                line-height: 114px;
                color: #ffffff;
                font-weight: 275;
                background-color: #000000;
                border: 4px solid var(--light-green-color);
                padding-left: 30px;
                transition: .5s;

                &::placeholder {
                    font-size: 50px;
                    line-height: 114px;
                    color: #ffffff;
                    font-weight: 275;
                    font-family: "Montserrat";
                }

                &:focus::placeholder {
                    color: transparent;
                }
            }

            &__message {
                padding-top: 20px;
                resize: none;
            }
        }

        &__text {
            width: 50%;

            &--light {
                font-weight: 300;
            }

            &--extralight {
                font-weight: 200;
            }

            &--bold {
                font-weight: 700;
            }

            &--purple {
                color: var(--purple-color)
            }

            &--green {
                color: var(--light-green-color)
            }

            text-align: left;
            padding-left:52px;
            font-size: 100px;
            line-height: 114px;
            color: #ffffff;
            font-weight: 400;
        }

        &__inner {
            display: flex;
        }

    }

    @media screen and (max-width:1550px) {
        .contacts {
            padding-top: 120px;
            padding-bottom: 60px;

            &__inner {
                column-gap: 40px;
            }
        }

        .contacts__text {
            width: 50%;
            text-align: left;
            padding-left: 52px;
            font-size: 48px;
            line-height: 100px;
            color: #ffffff;
            font-weight: 400;
        }

        .contacts-form__button {
            max-width: 411px;
            margin: 0 auto;
            font-size: 36px;
            color: #ffffff;
            font-weight: 300;
            padding: 20px 55px;
            font-family: "Montserrat";
            background-color: var(--light-green-color);
            color: #000000;
        }

        .contacts-form__name,
        .contacts-form__phone,
        .contacts-form__message {
            font-size: 36px;
            line-height: 70px;

            &::placeholder {
                font-size: 36px;
                line-height: 40px;
            }
        }

        .contacts-form {
            row-gap: 30px;
            width: 40%;
        }
    }

    @media screen and (max-width:1041px) {
        .contacts__text {
            font-size: 36px;
            line-height: 69px;
        }

        .contacts-form__name,
        .contacts-form__phone,
        .contacts-form__message {
            font-size: 28px;
            line-height: 70px;

            &::placeholder {
                font-size: 28px;
                line-height: 40px;
            }
        }
    }

    @media screen and (max-width:970px) {
        .contacts {
            padding-top: 35px;
            padding-bottom: 44px;
        }

        .contacts__inner {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 40px;
        }

        .contacts__text {
            font-size: 38px;
            line-height: 50px;
            margin-bottom: 40px;
            flex: 0 0 70%;
            text-align: left;
            padding-left: 52px;
            font-size: 38px;
            line-height: 56px;
            color: #ffffff;
            font-weight: 400;
        }

        .contacts-form__button {
            font-size: 28px;
            padding: 12px 55px;
        }

        .contacts-form {
            flex: 0 0 70%;
            display: flex;
            row-gap: 18px;
        }
    }

    @media screen and (max-width:770px) {
        .contacts__text {
            font-size: 34px;
            line-height: 48px;
        }
    }

    @media screen and (max-width:560px) {
        .contacts__text {
            font-size: 24px;
            line-height: 37px;
        }

        .contacts-form__name,
        .contacts-form__phone,
        .contacts-form__message {
            font-size: 16px;
            line-height: 40px;
            padding-left: 12px;

            &::placeholder {
                font-size: 22px;
                line-height: 40px;
            }
        }

        .contacts-form__button {
            font-size: 18px;
            padding: 12px 55px;
        }
    }

    @media screen and (max-width:524px) {

        .contacts-form__name,
        .contacts-form__phone,
        .contacts-form__message {
            border: 2px solid var(--light-green-color);
        }

        .contacts-form {
            flex: 0 0 80%;
        }

        .contacts__text {
            padding-left: 0;
            flex: 0 0 80%;
        }
    }

    @media screen and (max-width:435px) {
        .contacts__text {
            font-size: 22px;
        }
    }

    @media screen and (max-width:400px) {
        .contacts__text {
            font-size: 18px;
        }

        .contacts-form__name,
        .contacts-form__phone,
        .contacts-form__message {
            font-size: 16px;
            line-height: 33px;
            padding-left: 12px;

            &::placeholder {
                font-size: 16px;
                line-height: 26px;
            }
        }

        .contacts-form {
            flex: 0 0 90%;
        }

        .contacts-form__button {
            font-size: 16px;
            padding: 6px 40px;
        }
    }
// -------------------------------------------------------------footer section----------------------------------------------------//
    .footer {
        background: #000000;
        padding-bottom: 100px;
        padding-top: 88px;

        &__logo {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__contacts {
            &-title {
                font-size: 36px;
                color: #beff00;
                font-weight: 600;
                margin-bottom: 36px;
            }

            &-box {
                display: flex;
                flex-direction: column;

                a {
                    color: var(--light-green-color);
                    font-size: 28px;
                    font-weight: 275;
                }
            }
        }

        &__organization {
            max-width: 530px;
            font-size: 28px;
            color: #beff00;
            font-weight: 275;
        }
    }

    @media screen and (max-width:1560px) {
        .footer__contacts-title {
            font-size: 24px;
            margin-bottom: 23px;
        }

        .footer__contacts-box a {
            font-size: 20px;
        }

        .footer__organization {
            font-size: 22px;
        }
    }

    @media screen and (max-width:1201px) {
        .footer {
            padding-bottom: 50px;
            padding-top: 50px;
        }

        .footer__logo {
            img {
                width: 80%;
            }
        }

        .footer__contacts-title {
            font-size: 18px;
            margin-bottom: 16px;
        }

        .footer__organization {
            font-size: 16px;
        }
    }

    @media screen and (max-width:1041px) {
        .footer__inner {
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 80px;
            row-gap: 40px;
        }

        .footer__organization {
            text-align: center;
        }
    }

    @media screen and (max-width:620px) {
        .footer__item {
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .footer__logo img {
            width: 30%;
        }

        .footer__contacts-adress {
            margin-top: 20px;
        }

        .footer__contacts-box a {
            font-size: 29px;
            color: #beff00;
            font-weight: 275;
            font-family: "Montserrat";
            text-align: center;
        }
    }

    @media screen and (max-width:560px) {
        .footer__contacts-box a {
            font-size: 22px;
        }

        .footer__organization {
            font-size: 12px;
        }
    }

    @media screen and (max-width:560px) {
        .footer__contacts-box a {
            font-size: 18px;
        }
    }