:root {
  --base-font: 'Montserrat', sans-serif;
  --base-text-color: #000000;
  --base-background-color: #ffffff;
  --light-green-color: #cbff00;
  --purple-color: #a50eff;
  --light-purple-color: #b974ff;
  --base-text-size: 28px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

:focus {
  outline: none !important;
}

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0px !important;
  padding: 0;
}

a:focus,
a:active,
button:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
          box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

input,
textarea,
input:active,
textarea:active {
  outline: none;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  visibility: hidden;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

body {
  font-family: var(--base-font);
  font-size: var(--base-size);
}

.wrapper {
  position: relative;
  overflow: hidden;
  max-width: 2048px;
  margin: 0 auto;
}

.burger {
  width: 30px;
  height: 20px;
  position: relative;
  margin-right: 30px;
  margin-top: 30px;
  display: none;
}

.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  top: 0;
}

.burger::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  bottom: 0;
}

.burger span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background: #000;
}

.pulse-btn {
  font-size: 28px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Montserrat';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 10%;
  left: 3%;
  position: fixed;
  z-index: 20;
  width: 100px;
  height: 100px;
  padding: 20px;
  background: #b974ff;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-animation: pulse 1.6s infinite;
  animation: pulse 1.6s infinite;
}

.pulse-btn:hover,
.pulse-btn:active {
  background: #b974ff;
  -webkit-animation: none;
  animation: none;
}

/* Animations */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(185, 116, 255, 0.85);
    box-shadow: 0 0 0 0 rgba(185, 116, 255, 0.85);
  }
  70% {
    -webkit-box-shadow: 0 0 0 2em rgba(215, 17, 73, 0);
    box-shadow: 0 0 0 2em rgba(215, 17, 73, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(215, 17, 73, 0);
    box-shadow: 0 0 0 0 rgba(215, 17, 73, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(185, 116, 255, 0.85);
    box-shadow: 0 0 0 0 rgba(185, 116, 255, 0.85);
  }
  70% {
    -webkit-box-shadow: 0 0 0 2em rgba(215, 17, 73, 0);
    box-shadow: 0 0 0 2em rgba(215, 17, 73, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(215, 17, 73, 0);
    box-shadow: 0 0 0 0 rgba(215, 17, 73, 0);
  }
}

@media screen and (max-width: 1960px) {
  .pulse-btn {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 770px) {
  .pulse-btn {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 560px) {
  .pulse-btn {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (max-width: 440px) {
  .pulse-btn {
    width: 30px;
    height: 30px;
  }
}

.header__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1960px) {
  .header__logo img {
    width: 80%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-link {
  font-size: 32px;
  color: #0b0e0e;
  font-weight: 250;
  margin-left: 100px;
  position: relative;
  padding-bottom: 10px;
}

.menu__list-link:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--purple-color);
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.menu__list-link:hover:after, .menu__list-link:focus:after {
  width: 100%;
}

@media screen and (max-width: 1960px) {
  .menu__list-link {
    font-size: 24px;
    font-weight: 400;
    margin-left: 40px;
  }
}

@media screen and (max-width: 970px) {
  .burger {
    display: block;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .burger.active {
    position: fixed;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 300;
    top: 30px;
    right: 30px;
    display: block;
  }
  .burger.active::after {
    background: #fff;
  }
  .burger.active::before {
    background: #fff;
  }
  .burger.active span {
    background: #fff;
  }
  .menu {
    z-index: 200;
    position: absolute;
    background: #000;
    top: 0;
    right: -400px;
    width: 280px;
    height: 100%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .menu.active {
    position: fixed;
    right: -40px;
  }
  .menu__list {
    padding-top: 160px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 40px;
  }
  .menu__list-link {
    color: #fff;
    margin: 0;
    text-align: left;
  }
}

.container {
  max-width: 1610px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  background: url(../assets/background/rectangle2.svg) no-repeat 100% 61%/46%, url(../assets/background/circle3cop.svg) no-repeat 33% 0%/29%;
  padding-top: 60px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design {
  padding-top: 120px;
  padding-bottom: 84px;
}

.design__container {
  max-width: 1690px;
}

.design__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.design__title {
  font-weight: 700;
  font-size: 360px;
  text-transform: uppercase;
}

.design__circle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background: #0b0e0e;
}

.design__dot {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--purple-color);
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design .design__circle {
  width: 70px;
  height: 70px;
}

.design__bottom-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 36px;
}

.design__bottom-text {
  max-width: 620px;
  font-size: 28px;
  color: #000000;
  font-weight: 300;
  font-family: "Idealist Sans Light SC";
}

@media screen and (max-width: 1960px) {
  .design {
    padding-top: 86px;
  }
  .design__title {
    font-size: 150px;
  }
  .design__dot {
    width: 70px;
    height: 70px;
  }
  .design .design__circle {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 1960px) {
  .header {
    background: url(../assets/background/rectangle2.svg) no-repeat 100% 61%/41%, url(../assets/background/circle3cop.svg) no-repeat 33% 0%/23%;
    padding-top: 10px;
  }
  .design__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
  }
  .design__bottom {
    padding-left: 120px;
  }
  .design__bottom-title {
    font-size: 32px;
  }
  .design__bottom-text {
    font-size: 22px;
  }
  .design__bottom-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .design__bottom-text {
    font-size: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    background: url(../assets/background/rectangle2.svg) no-repeat 100% 43%/46%, url(../assets/background/circle3cop.svg) no-repeat 33% 0%/29%;
    padding-top: 60px;
  }
  .header__logo img {
    width: 80%;
  }
  .design {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .design__title {
    font-size: 160px;
  }
  .design__dot {
    width: 60px;
    height: 60px;
  }
  .design .design__circle {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 970px) {
  .header {
    padding-top: 20px;
  }
  .design__title {
    font-size: 120px;
  }
  .design__dot {
    width: 45px;
    height: 45px;
  }
  .design .design__circle {
    width: 20px;
    height: 20px;
  }
  .design__bottom-title {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .design__bottom-text {
    font-size: 18px;
  }
  .design__bottom {
    padding-left: 100px;
  }
}

@media screen and (max-width: 770px) {
  .design__title {
    font-size: 100px;
  }
  .design__bottom-title {
    font-size: 24px;
  }
  .design__bottom-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 680px) {
  .design__bottom {
    padding-left: 40px;
  }
}

@media screen and (max-width: 560px) {
  .header__logo img {
    width: 60%;
  }
  .design__title {
    font-size: 82px;
  }
  .design__dot {
    width: 30px;
    height: 30px;
  }
  .design .design__circle {
    width: 14px;
    height: 14px;
  }
  .design__bottom-text {
    font-size: 16px;
  }
  .design__bottom-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 460px) {
  .design__title {
    font-size: 70px;
  }
  .design__bottom-title {
    font-size: 20px;
  }
  .design__bottom-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .design__bottom-title {
    font-size: 18px;
  }
  .design__bottom-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .design__title {
    font-size: 60px;
  }
}

.category {
  padding-bottom: 150px;
  background: url(../assets/background/circle4.png) no-repeat 96% 98%/9%, url(../assets/background/circle2cop.png) no-repeat -2% 146%/28%;
}

.category__container {
  position: relative;
}

.category__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  -webkit-transition: .5s;
  transition: .5s;
}

.category__inner.hide {
  opacity: 0;
}

.category__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-betweens;
      -ms-flex-pack: space-betweens;
          justify-content: space-betweens;
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
  position: absolute;
  -webkit-transition: .8s;
  transition: .8s;
  opacity: 0;
}

.category__service.active {
  opacity: 1;
  top: 200px;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.category__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.category__title {
  font-size: 100px;
  font-weight: 600;
  font-family: "Montserrat";
  margin-bottom: 60px;
}

.category__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.category__text {
  font-size: 32px;
  color: #000000;
  font-weight: 300;
  font-family: "Idealist Sans Light SC";
  max-width: 575px;
}

@media screen and (max-width: 1960px) {
  .category {
    padding-bottom: 40px;
    background: url(../assets/background/circle4.png) no-repeat 96% 98%/5%, url(../assets/background/circle2cop.png) no-repeat -2% 153%/13%;
  }
  .category__inner {
    -webkit-column-gap: 60px;
            column-gap: 60px;
    max-width: 1070px;
    margin: 0 auto;
  }
  .category__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .category__title {
    font-size: 32px;
    font-weight: 600;
    font-family: "Montserrat";
    margin-bottom: 30px;
  }
  .category__text {
    font-size: 20px;
    color: #000000;
    font-weight: 300;
    font-family: "Idealist Sans Light SC";
    max-width: 575px;
  }
  .category__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 68%;
        flex: 0 0 68%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .category__service.active {
    top: 26px;
  }
  .category__image img {
    width: 90%;
  }
}

@media screen and (max-width: 970px) {
  .category__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 770px) {
  .category {
    padding-bottom: 77px;
    background: url(../assets/background/circle4.png) no-repeat 96% 98%/6%, url(../assets/background/circle2cop.png) no-repeat -2% 146%/28%;
  }
  .category__title {
    font-size: 28px;
    font-weight: 600;
    font-family: "Montserrat";
    margin-bottom: 12px;
  }
  .category__text {
    font-size: 18px;
  }
  .category__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category__image img {
    width: 32%;
  }
  .category__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .category__title {
    text-align: center;
  }
  .category__content {
    text-align: center;
    max-width: 300px;
  }
  .category__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .category__text {
    font-size: 12px;
  }
  .category__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .category {
    padding-bottom: 40px;
  }
  .category__title {
    font-size: 18px;
  }
  .category__text {
    font-size: 12px;
  }
}

.advertisement {
  position: relative;
  z-index: 99;
  padding: 22px 20px 20px 42px;
  background: #000000;
}

.advertisement__text {
  font-size: 41px;
  color: #cbff00;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}

.advertisement__word {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.advertisement__word.active {
  color: #ffffff;
}

.advertisement__word:hover {
  color: #ffffff;
}

@media screen and (max-width: 1960px) {
  .advertisement__text {
    font-size: 25px;
  }
}

@media screen and (max-width: 770px) {
  .advertisement__text {
    font-size: 24px;
  }
}

@media screen and (max-width: 560px) {
  .advertisement__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 400) {
  .advertisement__text {
    font-size: 16px;
  }
}

.flasks {
  padding-top: 168px;
  padding-bottom: 230px;
}

.flasks__box {
  max-width: 1300px;
  margin: 0 auto;
}

.flasks__title {
  font-size: 120px;
  color: #000000;
  font-weight: 275;
  text-align: center;
  margin-bottom: 116px;
}

.flasks__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.flasks__flask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.flasks__flask-content--business {
  left: -200%;
  padding-top: 20px;
  top: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.flasks__flask-content--business.active {
  top: 0;
  left: 5%;
  opacity: 1;
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.flasks__flask-content--light {
  right: -200%;
  padding-top: 40px;
  top: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.flasks__flask-content--light.active {
  opacity: 1;
  top: 0;
  right: 25%;
}

.flasks__flask-content--creative-first {
  left: -200%;
  top: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.flasks__flask-content--creative-first.active {
  opacity: 1;
  left: 5%;
}

.flasks__flask-content--creative-second {
  padding-top: 60px;
  right: -200%;
  position: absolute;
  opacity: 0;
  top: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.flasks__flask-content--creative-second.active {
  top: 0;
  right: 5%;
  opacity: 1;
}

.flasks__flask--light {
  margin-right: 154px;
}

.flasks__flask.hide {
  opacity: 0;
  pointer-events: none;
}

.flasks__flask img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.flasks__flask img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.flasks__flask-price {
  font-size: 60px;
  color: #000000;
  font-weight: 275;
  font-family: "Montserrat";
}

.flasks__flask-container {
  -webkit-column-gap: 56px;
          column-gap: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 40px;
  color: #000000;
  font-weight: 600;
  font-family: "Montserrat";
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.flasks__flask-name {
  font-size: 100px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 60px;
}

.flasks__flask-name--purple {
  color: var(--purple-color);
}

.flasks__flask-name--green {
  color: var(--light-green-color);
}

.flasks__flask-name--light-purple {
  display: block;
  font-size: 100px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 60px;
  color: var(--light-purple-color);
}

.flasks__flask-title {
  font-size: 40px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
}

.flasks__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.flasks__item {
  font-size: 40px;
  color: #000000;
  font-weight: 600;
  font-family: "Montserrat";
}

.flasks__flask-name--light-purple {
  display: block;
}

@media screen and (max-width: 1960px) {
  .flasks__flask-content--business {
    padding-top: 10px;
  }
  .flasks {
    padding-top: 56px;
    padding-bottom: 120px;
  }
  .flasks__title {
    font-size: 56px;
  }
  .flasks__flask img {
    width: 70%;
  }
  .flasks__flask-name {
    font-size: 76px;
    margin-bottom: 30px;
  }
  .flasks__item {
    font-size: 32px;
  }
  .flasks__flask-price {
    font-size: 40px;
  }
  .flasks__flask-name--light-purple {
    font-size: 69px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .flasks__title {
    font-size: 56px;
    margin-bottom: 90px;
  }
  .flasks__flask-name--light-purple {
    font-size: 60px;
  }
}

@media screen and (max-width: 1126px) {
  .flasks__flask-content {
    padding-top: 50px;
  }
  .flasks__flask-price {
    font-size: 36px;
  }
  .flasks__flask-name {
    font-size: 66px;
  }
  .flasks__item {
    font-size: 28px;
  }
  .flasks__flask-name--light-purple {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1040px) {
  .flasks__flask-price {
    font-size: 36px;
  }
  .flasks__flask-name--light-purple {
    padding-top: 0px;
  }
  .flasks__flask-content {
    padding-top: 30px;
  }
  .flasks__flask-name {
    font-size: 66px;
    margin-bottom: 20px;
  }
  .flasks__item {
    font-size: 24px;
  }
  .flasks__flask-content--creative-second {
    padding-top: 76px;
  }
  .flasks__flask img {
    width: 60%;
  }
  .flasks__title {
    font-size: 48px;
    margin-bottom: 60px;
  }
  .flasks__flask-name--light-purple {
    font-size: 53px;
  }
}

@media screen and (max-width: 970px) {
  .flasks__flask img {
    width: 50%;
  }
  .flasks {
    padding-top: 56px;
    padding-bottom: 80px;
  }
  .flasks__flask-price {
    font-size: 28px;
  }
  .flasks__flask-name {
    font-size: 54px;
    margin-bottom: 20px;
  }
  .flasks__item {
    font-size: 22px;
  }
  .flasks__flask-content {
    padding-top: 30px;
  }
  .flasks__flask-content--light {
    padding-top: 40px;
  }
  .flasks__flask-content--creative-second {
    padding-top: 60px;
  }
}

@media screen and (max-width: 864px) {
  .flasks__flask-price {
    font-size: 24px;
  }
  .flasks__flask-name {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .flasks__item {
    font-size: 20px;
  }
  .flasks__flask-content {
    padding-top: 50px;
  }
  .flasks__flask-content--creative-second {
    padding-top: 70px;
  }
}

@media screen and (max-width: 810px) {
  .flasks__flask-price {
    font-size: 24px;
  }
  .flasks__flask-name {
    font-size: 46px;
    margin-bottom: 20px;
  }
  .flasks__item {
    font-size: 18px;
  }
}

@media screen and (max-width: 740px) {
  .flasks__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flasks__flask--light {
    margin-right: 0;
  }
  .flasks__flask {
    pointer-events: none;
    margin-bottom: 280px;
  }
  .flasks__flask img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    width: 20%;
  }
  .flasks__flask--light img {
    width: 12%;
  }
  .flasks__flask-content--light {
    top: 20%;
    left: 10%;
    opacity: 1;
  }
  .flasks__flask-content--business {
    top: 85%;
    left: 10%;
    opacity: 1;
  }
  .flasks__flask-content--creative-first {
    top: 55%;
    left: 10%;
    opacity: 1;
  }
  .flasks__flask-content--creative-second {
    top: 55%;
    left: 40%;
    opacity: 1;
  }
}

@media screen and (max-width: 670px) {
  .flasks__flask-price {
    font-size: 18px;
  }
  .flasks__flask-name {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .flasks__flask-name--light-purple {
    font-size: 36px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 560px) {
  .flasks__title {
    font-size: 32px;
  }
  .flasks__flask-price {
    font-size: 18px;
  }
  .flasks__flask-name {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .flasks__item {
    font-size: 16px;
  }
  .flasks__flask-name--light-purple {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .flasks__flask-content--creative-first {
    top: 50%;
    left: 10%;
    opacity: 1;
  }
  .flasks__flask-content--creative-second {
    top: 50%;
    left: 40%;
    opacity: 1;
  }
  .flasks__flask-content--business {
    top: 82%;
  }
  .flasks__flask-content--light {
    top: 18%;
  }
}

@media screen and (max-width: 490px) {
  .flasks__flask {
    margin-bottom: 200px;
  }
  .flasks__flask-title {
    font-size: 32px;
  }
  .flasks__flask-price {
    font-size: 12px;
  }
  .flasks__flask-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .flasks__flask-name--light-purple {
    font-size: 24px;
  }
  .flasks__item {
    font-size: 12px;
  }
  .flasks__flask-content--creative-second {
    top: 49.5%;
    left: 40%;
    opacity: 1;
  }
}

@media screen and (max-width: 360px) {
  .flasks__flask-title {
    font-size: 28px;
  }
  .flasks__flask-content--creative-second {
    left: 44%;
  }
}

.contacts {
  padding-top: 150px;
  padding-bottom: 200px;
  background: #000000;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  width: 50%;
}

.contacts-form__button {
  max-width: 430px;
  margin: 0 auto;
  font-size: 50px;
  color: #ffffff;
  font-weight: 300;
  padding: 20px 40px;
  font-family: "Montserrat";
  background-color: var(--light-green-color);
  color: #000000;
}

.contacts-form__name, .contacts-form__phone, .contacts-form__message {
  font-size: 50px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 275;
  background-color: #000000;
  border: 4px solid var(--light-green-color);
  padding-left: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.contacts-form__name::-webkit-input-placeholder, .contacts-form__phone::-webkit-input-placeholder, .contacts-form__message::-webkit-input-placeholder {
  font-size: 50px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 275;
  font-family: "Montserrat";
}

.contacts-form__name:-ms-input-placeholder, .contacts-form__phone:-ms-input-placeholder, .contacts-form__message:-ms-input-placeholder {
  font-size: 50px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 275;
  font-family: "Montserrat";
}

.contacts-form__name::-ms-input-placeholder, .contacts-form__phone::-ms-input-placeholder, .contacts-form__message::-ms-input-placeholder {
  font-size: 50px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 275;
  font-family: "Montserrat";
}

.contacts-form__name::placeholder, .contacts-form__phone::placeholder, .contacts-form__message::placeholder {
  font-size: 50px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 275;
  font-family: "Montserrat";
}

.contacts-form__name:focus::-webkit-input-placeholder, .contacts-form__phone:focus::-webkit-input-placeholder, .contacts-form__message:focus::-webkit-input-placeholder {
  color: transparent;
}

.contacts-form__name:focus:-ms-input-placeholder, .contacts-form__phone:focus:-ms-input-placeholder, .contacts-form__message:focus:-ms-input-placeholder {
  color: transparent;
}

.contacts-form__name:focus::-ms-input-placeholder, .contacts-form__phone:focus::-ms-input-placeholder, .contacts-form__message:focus::-ms-input-placeholder {
  color: transparent;
}

.contacts-form__name:focus::placeholder, .contacts-form__phone:focus::placeholder, .contacts-form__message:focus::placeholder {
  color: transparent;
}

.contacts-form__message {
  padding-top: 20px;
  resize: none;
}

.contacts__text {
  width: 50%;
  text-align: left;
  font-size: 100px;
  line-height: 114px;
  color: #ffffff;
  font-weight: 400;
}

.contacts__text--light {
  font-weight: 300;
}

.contacts__text--extralight {
  font-weight: 200;
}

.contacts__text--bold {
  font-weight: 700;
}

.contacts__text--purple {
  color: var(--purple-color);
}

.contacts__text--green {
  color: var(--light-green-color);
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1960px) {
  .contacts {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .contacts__inner {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .contacts__text {
    width: 50%;
    text-align: left;
    font-size: 54px;
    line-height: 100px;
    color: #ffffff;
    font-weight: 400;
  }
  .contacts-form__button {
    max-width: 411px;
    margin: 0 auto;
    font-size: 28px;
    color: #ffffff;
    font-weight: 300;
    padding: 16px 46px;
    font-family: "Montserrat";
    background-color: var(--light-green-color);
    color: #000000;
  }
  .contacts-form__name,
  .contacts-form__phone,
  .contacts-form__message {
    font-size: 36px;
    line-height: 70px;
  }
  .contacts-form__name::-webkit-input-placeholder,
  .contacts-form__phone::-webkit-input-placeholder,
  .contacts-form__message::-webkit-input-placeholder {
    font-size: 36px;
    line-height: 40px;
  }
  .contacts-form__name:-ms-input-placeholder,
  .contacts-form__phone:-ms-input-placeholder,
  .contacts-form__message:-ms-input-placeholder {
    font-size: 36px;
    line-height: 40px;
  }
  .contacts-form__name::-ms-input-placeholder,
  .contacts-form__phone::-ms-input-placeholder,
  .contacts-form__message::-ms-input-placeholder {
    font-size: 36px;
    line-height: 40px;
  }
  .contacts-form__name::placeholder,
  .contacts-form__phone::placeholder,
  .contacts-form__message::placeholder {
    font-size: 36px;
    line-height: 40px;
  }
  .contacts-form {
    row-gap: 30px;
    width: 40%;
  }
}

@media screen and (max-width: 1362px) {
  .contacts-form__name,
  .contacts-form__phone,
  .contacts-form__message {
    font-size: 28px;
    line-height: 60px;
  }
  .contacts-form__name::-webkit-input-placeholder,
  .contacts-form__phone::-webkit-input-placeholder,
  .contacts-form__message::-webkit-input-placeholder {
    font-size: 28px;
    line-height: 40px;
  }
  .contacts-form__name:-ms-input-placeholder,
  .contacts-form__phone:-ms-input-placeholder,
  .contacts-form__message:-ms-input-placeholder {
    font-size: 28px;
    line-height: 40px;
  }
  .contacts-form__name::-ms-input-placeholder,
  .contacts-form__phone::-ms-input-placeholder,
  .contacts-form__message::-ms-input-placeholder {
    font-size: 28px;
    line-height: 40px;
  }
  .contacts-form__name::placeholder,
  .contacts-form__phone::placeholder,
  .contacts-form__message::placeholder {
    font-size: 28px;
    line-height: 40px;
  }
  .contacts__text {
    padding-left: 40px;
    font-size: 42px;
    line-height: 80px;
  }
}

@media screen and (max-width: 1162px) {
  .contacts__text {
    font-size: 35px;
    line-height: 63px;
  }
  .contacts-form__name,
  .contacts-form__phone,
  .contacts-form__message {
    font-size: 26px;
    line-height: 50px;
  }
  .contacts-form__name::-webkit-input-placeholder,
  .contacts-form__phone::-webkit-input-placeholder,
  .contacts-form__message::-webkit-input-placeholder {
    font-size: 26px;
    line-height: 32px;
  }
  .contacts-form__name:-ms-input-placeholder,
  .contacts-form__phone:-ms-input-placeholder,
  .contacts-form__message:-ms-input-placeholder {
    font-size: 26px;
    line-height: 32px;
  }
  .contacts-form__name::-ms-input-placeholder,
  .contacts-form__phone::-ms-input-placeholder,
  .contacts-form__message::-ms-input-placeholder {
    font-size: 26px;
    line-height: 32px;
  }
  .contacts-form__name::placeholder,
  .contacts-form__phone::placeholder,
  .contacts-form__message::placeholder {
    font-size: 26px;
    line-height: 32px;
  }
}

@media screen and (max-width: 970px) {
  .contacts {
    padding-top: 35px;
    padding-bottom: 44px;
  }
  .contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .contacts__text {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    text-align: left;
    padding-left: 52px;
    font-size: 38px;
    line-height: 56px;
    color: #ffffff;
    font-weight: 400;
  }
  .contacts-form__button {
    font-size: 28px;
    padding: 12px 55px;
  }
  .contacts-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 18px;
  }
}

@media screen and (max-width: 770px) {
  .contacts__text {
    font-size: 34px;
    line-height: 48px;
  }
}

@media screen and (max-width: 560px) {
  .contacts__text {
    font-size: 24px;
    line-height: 37px;
  }
  .contacts-form__name,
  .contacts-form__phone,
  .contacts-form__message {
    font-size: 16px;
    line-height: 40px;
    padding-left: 12px;
  }
  .contacts-form__name::-webkit-input-placeholder,
  .contacts-form__phone::-webkit-input-placeholder,
  .contacts-form__message::-webkit-input-placeholder {
    font-size: 22px;
    line-height: 40px;
  }
  .contacts-form__name:-ms-input-placeholder,
  .contacts-form__phone:-ms-input-placeholder,
  .contacts-form__message:-ms-input-placeholder {
    font-size: 22px;
    line-height: 40px;
  }
  .contacts-form__name::-ms-input-placeholder,
  .contacts-form__phone::-ms-input-placeholder,
  .contacts-form__message::-ms-input-placeholder {
    font-size: 22px;
    line-height: 40px;
  }
  .contacts-form__name::placeholder,
  .contacts-form__phone::placeholder,
  .contacts-form__message::placeholder {
    font-size: 22px;
    line-height: 40px;
  }
  .contacts-form__button {
    font-size: 18px;
    padding: 12px 55px;
  }
}

@media screen and (max-width: 524px) {
  .contacts-form__name,
  .contacts-form__phone,
  .contacts-form__message {
    border: 2px solid var(--light-green-color);
  }
  .contacts-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
  .contacts__text {
    padding-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
}

@media screen and (max-width: 435px) {
  .contacts__text {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .contacts__text {
    font-size: 18px;
  }
  .contacts-form__name,
  .contacts-form__phone,
  .contacts-form__message {
    font-size: 16px;
    line-height: 33px;
    padding-left: 12px;
  }
  .contacts-form__name::-webkit-input-placeholder,
  .contacts-form__phone::-webkit-input-placeholder,
  .contacts-form__message::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 26px;
  }
  .contacts-form__name:-ms-input-placeholder,
  .contacts-form__phone:-ms-input-placeholder,
  .contacts-form__message:-ms-input-placeholder {
    font-size: 16px;
    line-height: 26px;
  }
  .contacts-form__name::-ms-input-placeholder,
  .contacts-form__phone::-ms-input-placeholder,
  .contacts-form__message::-ms-input-placeholder {
    font-size: 16px;
    line-height: 26px;
  }
  .contacts-form__name::placeholder,
  .contacts-form__phone::placeholder,
  .contacts-form__message::placeholder {
    font-size: 16px;
    line-height: 26px;
  }
  .contacts-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
  .contacts-form__button {
    font-size: 16px;
    padding: 6px 40px;
  }
}

.footer {
  background: #000000;
  padding-bottom: 100px;
  padding-top: 88px;
}

.footer__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts-title {
  font-size: 36px;
  color: #beff00;
  font-weight: 600;
  margin-bottom: 36px;
}

.footer__contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts-box a {
  color: var(--light-green-color);
  font-size: 28px;
  font-weight: 275;
}

.footer__organization {
  max-width: 530px;
  font-size: 28px;
  color: #beff00;
  font-weight: 275;
}

@media screen and (max-width: 1960px) {
  .footer__logo img {
    width: 80%;
  }
  .footer__contacts-title {
    font-size: 22px;
    margin-bottom: 23px;
  }
  .footer__contacts-box a {
    font-size: 18px;
  }
  .footer__organization {
    font-size: 18px;
  }
}

@media screen and (max-width: 1201px) {
  .footer {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .footer__logo img {
    width: 80%;
  }
  .footer__contacts-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .footer__organization {
    font-size: 16px;
  }
}

@media screen and (max-width: 1041px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 80px;
            column-gap: 80px;
    row-gap: 40px;
  }
  .footer__organization {
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo img {
    width: 30%;
  }
  .footer__contacts-adress {
    margin-top: 20px;
  }
  .footer__contacts-box a {
    font-size: 29px;
    color: #beff00;
    font-weight: 275;
    font-family: "Montserrat";
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .footer__contacts-box a {
    font-size: 22px;
  }
  .footer__organization {
    font-size: 12px;
  }
}

@media screen and (max-width: 560px) {
  .footer__contacts-box a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */