:root{
    --base-font: 'Montserrat', sans-serif;
    --base-text-color:#000000;
    --base-background-color:#ffffff;
    --light-green-color:#cbff00;
    --purple-color:#a50eff;
    --light-purple-color:#b974ff;
    --base-text-size:28px;
}